* {
    margin:0;
    padding:0;

}
body {
    margin: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153, 196, 181);
}

button {
    max-width: 400px;
    height: auto;
    font-size: large;
    border-radius: 30px;
    border: 2px solid yellowgreen;
    padding: 8px;
    cursor: pointer;
    display: block;
}
.show-modal {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 60px;
}
.navbar>ul>li {
text-decoration: none;
list-style: none;
}
.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 40px;
    padding: 5px;
}
.link {
    display: flex;
    padding: 10px;
 
}
.link>li {
    margin: 6px;
    cursor: pointer;
}
.main {
    display: flex;
    height: 400px;
    background-color: rgb(56, 45, 31);
    color: antiquewhite;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 3px;
    
}
.main>.feeds {
    flex: 3;
    background-color: rgb(146, 86, 7);
    height: 380px;
  
}
.main>.ads{
    order: -1;
    flex:1;
    margin: 10px;
    padding: 5px;
} 
.main>.menu {
    flex:1;
    margin: 10px;
    padding: 5px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.form {
    background-color: aliceblue;
   
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}
.noneDisplay {
    display: none;
}
.blockDisplay {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  margin: 15px;
}
label {
    width: 100px;
    background: #1e4674;
    color: white;
    border-radius: 8px;
    padding: 10px;

}

form input {
    border: 1px solid greenyellow;
    border-radius: 10px;
    height: auto;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
form h4 {
    columns: #1e4674;
    font-size: 24px;
   align-self: center;
}
.show-content {
    display: grid;
    grid-template: 200px,200px;
   
}
.div-container {
    margin: 20px;
    display: grid;
    gap: 5px;
    justify-content: center;
    background-color: aliceblue;
    padding: 8px;
}
.show-content h2 {
    justify-content: center;
    color: green;
    margin-top: 30px;
}
